/* header */
body {
    text-align: center;
    margin: 0;
}

.banner {
    margin: 0;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.nav {
    font-family: 'Work Sans';
    margin: 0px 150px 0px 0px;
    font-size: 40px;
    color: white;
}

.title {
    font-size: 50px;
    padding-top: 300px;
}

.mini {
    margin-left: 70%;
    padding-bottom: 40px;
    font-size: 30px;
}

.btn {
    padding: 20px 80px;
    font-size: 20px;
    border-radius: 10px;
    color: #005FAC;
    border: 0;
}
/* <!-- My failures --> */
.flex {
    display: flex;
    gap: 50px;
    text-align: center;
}

.photo {
    margin: 100px 70px 0px 20px;
    padding-left: 40px;
}

.y {
    text-align: left;
    font-size: 30px;
    margin: 300px 80px;
}

.me {
    padding-left: 0px;
    padding-right: 50px;
    font-size: 20px;
}

.ok {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

span {
    color: rgb(4, 159, 248);
}
/* <!-- what i learn --> */
.kgf {
    /* margin: 75px; */
    margin: 120px;;
    display: flex;
    gap: 75px;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}

.line {
    margin: 10px;
    text-align: left;
background-color: #afccec;
background-position:  290px 640px;
padding-left: 30px;
padding-right: 90px;
padding-bottom: 28px;
}

.koko {
    list-style: none;
}
.plan {
    font-size: 50px;
    margin-bottom: 90px;
    text-align: center;
}

.smoke {
    display: flex;
    gap: 200px;
    margin-left: 300px;
    margin-bottom: 90px;
}

.mindset {
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    height: 150px;
    background-repeat: no-repeat;
    margin-left: 300px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 25px;
    padding: 30px 0 70px 80px;
    color: white;
}

.call {
    padding: 20px 80px;
    font-size: 20px;
    border-radius: 10px;
    color: #005FAC;
    border: 0;
}
/* footer part */
.foot {
    display: flex;
    margin-left: 250px;
}

.foot {
    gap: 55px;
    margin: 0 0px;
    text-align: left;
    margin-left: 0px;
    color: white;
    background-color: black;
}

.ops {
    padding-right: 50px;
    text-align: left;
}

.q {
    margin: 90px;
    text-align: left;
    font-size: 15px;
}

.v {
    margin-right: 300px;
    margin-top: 100px;
}

input {
    padding: 10px 90px;
    margin-bottom: 10px;
    background-color: black;
    border: 3;
    border-width: 5;
    border-color: #ffffff;
}

.box {
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 10px;
    color: #0584ec;
    background-color: white;
    border: 2;
}
.o{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
